@keyframes shakeHorizontal {
    0% {
        transform: translateX(0%);
        opacity: 1;
    }

    30% {
        transform: translateX(-30%);
        opacity: 0.75;
    }

    60% {
        transform: translateX(0%);
        opacity: 0.5;
    }

    90% {
        transform: translateX(30%);
        opacity: 0.75;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

.shakeHorizontal {
    animation-name: shakeHorizontal;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
    animation-iteration-count:3;
}


@keyframes bounceScale {
    0% {
        transform: scale(1);
        opacity: 0;
    }

    50% {
        transform: scale(1.25);
        opacity: 1;
    }

    100% {
        transform: scale(1);
    }
}

.bounceScale {
    animation-name: bounceScale;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
}

@keyframes flexfadeIn {
    from {
        opacity: 0;
        flex-grow: 0;
        display: none;

        font-size: 0;
        flex-basis: 0;
        min-width: 0;
        min-height: 0;
        padding: 0;
        margin: 0;
        border-width: 0;
    }
    to {
        opacity: 1;
        flex-grow: 1;
        display: relative;
        background-color:var(--blue-color);
    }
}

.flexfadeIn {
    animation-name: flexfadeIn;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
}

@keyframes fadeFromTop {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

.fadeFromTop {
    animation-name: fadeFromTop;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
}


@keyframes rainbow {
    0% {
        background-color:magenta;
        opacity: 1;
    }
    10% {
        background-color: coral;
    }
    30% {
        background-color:goldenrod;
    }
    50% {
        background-color: aquamarine;
    }
    60% {
        background-color: aqua;
    }
    90% {
        background-color:blueviolet;
    }
    100% {
        background-color:magenta;
        opacity: 1;
    }
}
.rainbow {
    animation-name: rainbow;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

@keyframes rotate {
    0% {
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.rotate {
    animation-name: rotate;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}