.keyboard {
    padding: 5px;
    align-self: center;
    display: flex;
    flex-flow: column wrap;
    gap: 5px;
    background-color: var(--orange-color);
    border-radius: 10px;
    border: 2px solid #414458;
    box-shadow: 2px 2px 4px #414458;
}

.keyboard_row {
    display: flex;
    flex-flow: row wrap;
    gap: 5px;
}

.keyboard_row>button {
    flex: 1 1 auto;
    min-width: 50px;
    min-height: 50px;
    padding: 3px;
    border: 2px solid #414458;
    border-radius: 5px;
    box-shadow: 2px 2px 4px black;
    font-size: 2em;
    text-align: center;
}

.keyboard_row>button {
    background-color: transparent;
}
.keyboard_row>button:hover {
    background-color: darkorange;
}
.keyboard_row>button:active {
    background-color: aqua;
}

.keyboard_row>button{
    transition: background-color 300ms linear;
  }

@media (max-width: 640px) {
    .keyboard_row > button {
        font-size: 1em;
        min-width: 30px;
        min-height: 30px;
    }

    .keyboard_row {
        flex:1 1 100%;
    }

    .keyboard {
        flex: 1;
        padding: 10px 10px;
        flex-flow: row wrap;
    }
}