.title {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  font-size: 3em;
  text-align: center;
}

.title img {
  display: inline-block;
  vertical-align: text-bottom;
  width: 80px;
  height: 80px;
}

.wordle_area {
  position: relative;
  align-self: center;
  display: grid;
  grid-template-columns: repeat(var(--max-column), 1fr);
  grid-template-rows: repeat(var(--max-row), 1fr);
  gap: 5px;
  height: auto;
  min-width: calc((60px+5px) * var(--max-column));
  min-height: calc((60px+5px) * var(--max-row));
  padding: 10px;
}

.word {
  background-color: transparent;
  min-width: 64px;
  min-height: 64px;
  border: 1px solid #414458;
  border-radius: 5px;
  font-size: 2em;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.word.active {
  border-color: chocolate;
}

.word.active_word {
  background-color: chocolate;
}

.word{
  transition: background-color 300ms linear, border-color 300ms linear;
}

.result {
  align-self: center;

  border-radius: 10px;
  padding: 5px;

  text-align: center;
  font-weight: bold;
  background-color:bisque;
  color: black;
  opacity: 0;
}


.author {
  text-decoration: none;
  text-align: center;
  color: chocolate;
  padding: 10px;
}

@media (min-height: 1024px) {
  .wordle_area {
    min-width: calc((100px+5px) * var(--max-column));
    min-height: calc((100px+5px) * var(--max-row));
  }

  .word {
    min-width: 100px;
    min-height: 100px;
  }
}

@media (max-height: 768px), (max-width: 640px) {
  .author {
    position: absolute;
    top: 0;
    right: 0;
  }
}

@media (max-width: 640px) {
  .wordle_area {
    flex: 2;
    align-self:normal;
    padding: 20px;
    min-width: calc((45px+5px) * var(--max-column));
    min-height: calc((45px+5px) * var(--max-row));
  }

  .word {
    min-width: 45px;
    min-height: 45px;
  }
}