.title {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  font-size: 3em;
  text-align: center;
}

.title img {
  display: inline-block;
  vertical-align: text-bottom;
  width: 80px;
  height: 80px;
}

.result {
  align-self: center;

  border-radius: 10px;
  padding: 5px;

  text-align: center;
  font-weight: bold;
  background-color:bisque;
  color: black;
  opacity: 0;
}

.author {
  text-decoration: none;
  text-align: center;
  color: chocolate;
  padding: 10px;
}

@media (max-height: 768px), (max-width: 640px) {
  .author {
    position: absolute;
    top: 0;
    right: 0;
  }
}
