.title {
  font-size: 3em;
  text-align: center;
}

.wordle_area {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 5px;
  height: auto;
  min-width: 320px;
  min-height: 384px;
  padding: 10px;
}

.wordle_area > div {
  background-color: transparent;
  min-width: 64px;
  min-height: 64px;
  border: 1px solid #414458;
  border-radius: 5px;
  font-size: 2em;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.wordle_area > div.active {
  border: 1px solid chocolate;
  background-color: chocolate;
}

.author {
  text-decoration: none;
  text-align: center;
  color: chocolate;
  padding: 10px;
}

@media (max-width: 640px) {
  .author {
    position: absolute;
    top: 0;
    right: 0;
  }

  .title {
    font-size: 2.5em;
  }
}